---
import PageLayout from '@/layouts/CommonPage.astro'
---

<PageLayout title='Comment Policy' info='/comment-policy'>
  I would like to keep Suzza Stitches a calm and safe space for people to share about their cross
  stitch hobby. For that, we need to lay down some rules of engagement. Please abide by the
  following rules so that we can all have a good time.

  <h3>No Hate Speech or Harassment</h3>
  Hate speech is not allowed. This includes all the -isms; racism, sexism, ageism, ableism and antisemitism.
  No transphobic or homophobic remarks. While you may disagree with others, do not harass , threaten,
  or bully them.

  <h3>No Spam</h3>
  Do not solicit or advertise your business. Only leave links when requested. And, only things like your
  Flosstube or Instagram accounts when asked.

  <h3>Do not share Personally Identifying information</h3>

  Any personally identifying information will be deleted. Please do not share your phone number,
  email, address, or location with strangers on the internet.

  <h3>Stay on Topic</h3>

  Please try to stay on topic. Meaning, when you leave a comment make sure it is connected to the
  blog or page you are reading. We would like to keep the community safe by limiting what
  information we share.

  <h3>No Violent, Sexual, or Gory images or discussion</h3>

  This content will be deleted. This is a safe space for people and we will keep it that way.
  <p>
    Thank you for taking the time to read these rules. I look forward to speaking with you in the
    comments!
  </p>
</PageLayout>
