---
import PageLayout from '@/layouts/CommonPage.astro'
---

<PageLayout title='My Current Projects' info='/current-projects'>
  Here is an updated list of all my current Works in Progress and Finishes. A well as the date they
  were started and completed.

  <h2>Finishes</h2>
  <div class='p-2'>
    <h3>Ticket to Ride Cross Stitch Digital PDF Pattern</h3>
    <p>Started: March 10<sup>th</sup>, 2025</p>
    <p>Completed: April 3<sup>rd</sup>, 2025</p>
    <p>
      <a
        href='https://www.etsy.com/listing/541667741/ticket-to-ride-cross-stitch-digital-pdf'
        target='_blank'>Get Pattern</a
      >
    </p>
  </div>
  <div class='p-2'>
    <h3>A Stitcher's Quaker by Luminous Fiber Arts</h3>
    <p>Started: April 8<sup>th</sup>, 2025</p>
    <p>Completed: May 4<sup>th</sup>, 2025</p>
    <p>
      <a
        href='https://123stitch.com/item/Luminous-Fiber-Arts-A-Stitchers-Quaker-Cross-Stitch-Pattern/LFA-020'
        target='_blank'>Get Pattern</a
      >
    </p>
  </div>

  <div class='p-2'>
    <h3>Easter Bunny Free Pattern</h3>
    <p>Started & Completed: April 2025</p>
    <p>
      <a
        href='https://lacontesselepointdecroix.blogspot.com/2015/03/easter-bunny-free.html?m=1'
        target='_blank'>Get Pattern</a
      >
    </p>
  </div>
  <h2>WIPs</h2>
  <div class='p-2'>
    <h3>Alice in Wonderland SAL by Owlforest Embroidery</h3>
    <p>Started: April 20<sup>th</sup>, 2025</p>
    <p>
      <a
        href='https://owlforest.co.uk/besplatnaya-skhema-dlya-vyshivaniya-alisa-v-strane-chudes/'
        target='_blank'>Get Pattern</a
      >
    </p>
  </div>
  <div class='p-2'>
    <h3>The Stitchers Book Club by Cloudsfactory</h3>
    <p>Started: May 12<sup>th</sup>, 2025</p>
    <p>
      <a
        href='https://cloudsfactory.net/the-stitchers-book-club-cross-stitch-pattern.html'
        target='_blank'>Get Pattern</a
      >
    </p>
  </div>
  <div class='p-2'>
    <h3>Cats And Mandalas August by Kitty and Me</h3>
    <p>Started: June 11<sup>th</sup>, 2025</p>
    <p>
      <a
        href='https://123stitch.com/item/Kitty-And-Me-Colorful-Cats-Cats-And-Mandalas-August-Cross-Stitch-Patt/KAM-106'
        target='_blank'>Get Pattern</a
      >
    </p>
  </div>
  <div class='p-2'>
    <h3>Nightingale by Mirabillia</h3>
    <p>Started: June 18<sup>th</sup>, 2025</p>
    <p>
      <a
        href='https://123stitch.com/item/Mirabilia-Nightingale-Cross-Stitch-Pattern/MD185'
        target='_blank'>Get Pattern</a
      >
    </p>
  </div>
  <div class='p-2'>
    <h3>Dragon Quaker by Wiehenburg Design</h3>
    <p>Started: June 24<sup>th</sup>, 2025</p>
    <p>
      <a
        href='https://www.wiehenburg-design.com/quaker-style-samplers/dragon-quaker/'
        target='_blank'>Get Pattern</a
      >
    </p>
  </div>
  <div class='p-2'>
    <h3>Black Wing Haberdashery by Lindy Stitches</h3>
    <p>Started: July 1<sup>st</sup>, 2025</p>
    <p>
      <a
        href='https://123stitch.com/item/Lindy-Stitches-Black-Wing-Haberdashery-Halloween-Cross-Stitch-Pattern/LS-089'
        target='_blank'>Get Pattern</a
      >
    </p>
  </div>
  <div class='p-2'>
    <h3>Quaker du Japan by Jardin Privé</h3>
    <p>Started: July 6<sup>th</sup>, 2025</p>
    <p>
      <a href='https://www.jardinprive.com/produit.php?mod=Quaker-du-Japon' target='_blank'
        >Get Pattern</a
      >
    </p>
  </div>
  <div class='p-2'>
    <h3>Wibbly Wobbly Timey Wimey by Black Needle Society</h3>
    <p>Started: July 21<sup>st</sup>, 2025</p>
    <p>
      <a
        href='https://www.theblackneedlesociety.com/products/vault-25?_pos=1&_sid=3be4a83fd&_ss=r'
        target='_blank'>Get Pattern</a
      >
    </p>
  </div>
  <div class='p-2'>
    <h3>Flower Dragon Meadow SAL by Flossy Fox Shop</h3>
    <p>Started: August 9<sup>th</sup>, 2025</p>
    <p>
      <a
        href='https://www.etsy.com/listing/4322334131/flower-dragon-meadow-stitch-along-6?ref=shop_home_feat_1&pro=1&sts=1&logging_key=f85cf696ab70cc9c87be3ad63fbd53987cccd5ef%3A4322334131'
        target='_blank'>Get Pattern</a
      >
    </p>
  </div>
  <div class='p-2'>
    <h3>Opening Gambit by Long Dog Samplers</h3>
    <p>Started: August 22<sup>nd</sup>, 2025</p>
    <p>
      <a href='https://www.longdogsampler.com/product/opening-gambit/' target='_blank'
        >Get Pattern</a
      >
    </p>
  </div>
  <div class='p-2'>
    <h3>Dragons: A Field Guide by Climbing Goat Designs</h3>
    <p>Started: September 3<sup>rd</sup>, 2025</p>
    <p>
      <a
        href='https://www.etsy.com/listing/1513712264/dragons-a-field-guide-cross-stitch'
        target='_blank'>Get Pattern</a
      >
    </p>
  </div>
</PageLayout>
