---
import links from 'public/links.json'
import config from 'virtual:config'

import { Comment, LinkPreview } from 'astro-pure/advanced'
import { Collapse, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import FriendList from '@/components/links/FriendList.astro'

const headings = [
  { depth: 2, slug: 'common-links', text: 'Common Links' },
  { depth: 2, slug: 'special-links', text: 'Special Links' },
  { depth: 2, slug: 'apply-links', text: 'Apply Links' }
]

const { friends } = links
const linksConf = config.integ.links
---

<PageLayout title="Who I'm Watching" info='/links'>
  <h2>Sunshine Stitchers</h2>
  <LinkPreview href='https://www.youtube.com/@SunshineStitchers' />
  <Comment slot='bottom' />
</PageLayout>
